%li.columns.three.row{:id => dom_id(schwein), :class => cycle('alpha', '', '', 'omega')}
  .schwein
    .product-image
      = link_to(product_image(schwein, :width => '160'), schwein_path(schwein.permalink))
    %h4= link_to schwein.name, schwein_path(schwein.permalink)
    %span.props
      = number_to_human(schwein.weight, :units => {:unit => "kg", :thousand => "t"}, :significant => true, :precision => 5)
    %span.props.last
      &dagger;
      = l(schwein.date_of_death, :format => :default)
