<div class="left">
  <%= render :partial => 'spree/products/weight', :object => @schwein.weight %>
  |
  <span class="weight">
      <b>
        Geboren:
      </b>
      <%= l(@schwein.date_of_birth) %>
  </span>
  |
  <span class="weight">
      <b>
        Geschlachtet:
      </b>
      <%= l(@schwein.date_of_death) %>
  </span>
</div>
<div class="right"></div>
<div class="clear"></div>