.p
  .left
    = render :partial => 'spree/products/weight', :object => @product.net_weight
    |
    = render :partial => 'spree/products/price'
  .right
    = render :partial => 'spree/shared/social_buttons'
  .clear