a.button, button, input[type="submit"], .add-to-cart-button {
  display: inline-block;
  color: #452500;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  font-size:14px;
  font-family: Tahoma,Arial,sans-serif;
  font-weight:normal;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.9);
  -webkit-font-smoothing: antialiased;
  background-color: #fdeeec;
  background-image: -moz-linear-gradient(top, #fdeeec, #f08574);
  background-image: -ms-linear-gradient(top, #fdeeec, #f08574);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdeeec), to(#f08574));
  background-image: -webkit-linear-gradient(top, #fdeeec, #f08574);
  background-image: -o-linear-gradient(top, #fdeeec, #f08574);
  background-image: linear-gradient(top, #fdeeec, f08574);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border: 1px solid #CCC;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
  min-width:120px;
  padding: 8px 20px;
  margin: 20px 0;
  line-height: 20px;
  &#checkout-link {

    .push-forward {
      font-family: $ff_regular;
      font-size: 26px;
      vertical-align: text-bottom;
      margin-left: 10px;
    }
  }

  &#update-button {
    border: none;
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 0;
    &:hover{
      text-decoration: underline;
      color: $pink;
    }
  }



  &:hover{
    -webkit-box-shadow: inset 0 2px 1px rgba(255,255,255,0.6), 0 1px 2px rgba(0,0,0,0.6);
    -moz-box-shadow: inset 0 2px 1px rgba(255,255,255,0.6), 0 1px 2px rgba(0,0,0,0.6);
    box-shadow: inset 0 2px 1px rgba(255,255,255,0.6), 0 1px 2px rgba(0,0,0,0.6);
    box-shadow: inset 0 2px 1px rgba(255,255,255,0.6), 0 1px 2px rgba(0,0,0,0.6);
    background-image: -moz-linear-gradient(top, #fdeeec, #f7a193);
    background-image: -ms-linear-gradient(top, #fdeeec, #f7a193);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdeeec), to(#f7a193));
    background-image: -webkit-linear-gradient(top, #fdeeec, #f7a193);
    background-image: -o-linear-gradient(top, #fdeeec, #f7a193);
    background-image: linear-gradient(top, #fdeeec, f7a193);
    background-repeat: repeat-x;
    border-color:$pink;
    color: inherit;

  }

  &:active{
    -webkit-box-shadow: inset 1px 1px 2px rgba(70,40,0,0.6);
    -moz-box-shadow: inset 1px 1px 2px rgba(70,40,0,0.6);
    box-shadow: inset 1px 1px 2px rgba(70,40,0,0.6);
    box-shadow: inset 1px 1px 2px rgba(70,40,0,0.6);
    background-image: -moz-linear-gradient(top, #fdeeec, #f08574);
    background-image: -ms-linear-gradient(top, #fdeeec, #f08574);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdeeec), to(#f08574));
    background-image: -webkit-linear-gradient(top, #fdeeec, #f08574);
    background-image: -o-linear-gradient(top, #fdeeec, #f08574);
    background-image: linear-gradient(top, #fdeeec, f08574);
    background-repeat: repeat-x;
  }

  &.gray {
    background-image: -moz-linear-gradient(top, #eeeeee, #aaaaaa);
    background-image: -ms-linear-gradient(top, #eeeeee, #aaaaaa);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), to(#aaaaaa));
    background-image: -webkit-linear-gradient(top, #eeeeee, #aaaaaa);
    background-image: -o-linear-gradient(top, #eeeeee, #aaaaaa);
    background-image: linear-gradient(top, #eeeeee, aaaaaa);
    border: 1px solid $lightGrey;

    &:hover {
      background-image: -moz-linear-gradient(top, #efefef, #bcbcbc);
      background-image: -ms-linear-gradient(top, #efefef, #bcbcbc);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#efefef), to(#bcbcbc));
      background-image: -webkit-linear-gradient(top, #efefef, #bcbcbc);
      background-image: -o-linear-gradient(top, #efefef, #bcbcbc);
      background-image: linear-gradient(top, #efefef, bcbcbc);
      border: 1px solid darken($lightGrey, 5%);
    }

    &:active{
      background-image: -moz-linear-gradient(top, #eeeeee, #aaaaaa);
      background-image: -ms-linear-gradient(top, #eeeeee, #aaaaaa);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), to(#aaaaaa));
      background-image: -webkit-linear-gradient(top, #eeeeee, #aaaaaa);
      background-image: -o-linear-gradient(top, #eeeeee, #aaaaaa);
      background-image: linear-gradient(top, #eeeeee, aaaaaa);
    }
  }
}
