#update-cart {
  margin-top: 10px;
}

#subtotal {
  border-bottom: 1px solid $brown;
  padding-bottom: 10px;

  h5 {
    font-family: $ff_base;
    font-size: $base_font_size;
    font-weight: bold;
    text-transform: none;

  }

  span.order-total {
    font-family: $ff_base;
    font-size: $base_font_size;
    padding: 0px 10px;
    color: $brown !important;
  }
}

table#cart-detail {
  text-align: left;

  thead {
    background-color: transparent;
    border-bottom: 1px solid $brown;
    text-transform: none;

    th {
      font-size: $base_font_size;
      font-weight: normal;
      color: $brown;
    }
  }

  tbody#line_items {
    border-bottom: 1px solid $brown;

    td {
      font-size: $base_font_size;
      font-weight: normal;
      color: $brown;
    }

    img {
      width: 74px;
      margin: 12px 0px;
    }

    tr.line-item {
      border-bottom: 0px;

      &.alt {
        background-color: transparent;
      }

      td.cart-item-quantity {
        input.line_item_quantity {
          width: 30px;
        }
      }

      td.cart-item-total {
        font-size: $base_font_size;
        color: $brown;
        text-align: right;
      }

      td.cart-item-description {
        h4, a {
          color: $brown;
        }

        @media only screen {
          @media (max-width: 480px) {
            display: none;
          }
        }
      }
    }
  }
}

#update-cart {
  #subtotal, .links {
    @media only screen {
      @media (max-width: 768px) {
        width: 100%;
        text-align: center;
      }
    }
  }
}
#empty-cart {
  #clear_cart_link {
    @media only screen {
      @media (max-width: 768px) {
        width: 100%;
        text-align: center;
      }
      @media (min-width: 768px) {
        margin-top: 0
      }
    }

    .continue {
      margin-top: 15px;
    }

  }
}
