
table#cart-detail {
  text-align: left;

  thead {
    background-color: $beige;
    border-bottom: 1px solid $brown;
    text-transform: none;
  }

  tbody {
    border-bottom: 1px solid $brown;
  }

  td.cart-item-quantity {
    input.line_item_quantity {
      width: 30px !important;
    }
  }

  td.cart-item-description {
    h4, a {
      color: $brown;
    }
  }

  .line-item {
    border-bottom: 0px;

    &.alt {
      background-color: $beige;
    }
  }
}