#checkout {
  .row[data-hook="checkout_header"] {
    border-bottom: 1px solid $brown;
  }

  h1 {
    padding-top: 9px;
  }
}

ol.progress-steps{
  li {
    color: $grey;
    text-transform: none;
    padding-right: 0px;
    margin-right: 0px;
    padding-top: 20px;

    &.current-first {
      background-color: inherit;
      color: inherit;
      background-image: none;
    }

    &.completed, &.completed-first, &.completed-last {
      color: $brown;
      span{
        &:after {
          content: "\2713";
          position: relative;
          bottom: 20px;
          right: 30%;
          text-decoration: none;
          color: $pink;
          font-size: 20px;
        }
      }
    }

    &:after {
      content: "\2192";
      color: $pink;
      margin-left: 15px;
      font-weight: bold;
    }

    &.last:after, &.completed-last:after {
      content: "";
    }
  }
}

#checkout_form_address {
  legend {
    text-transform: none;
    color: $brown;
    font-size: 24px;
    text-align: left;
    margin-left: 0px;
  }

  fieldset {
    border: 0px;
  }

  p.field {
    padding: 0px;

    select {
      font-size: 17px;
      width: 185px;
      -moz-appearance: none;
      -webkit-appearance: none;
      border-radius: 0px;
      padding: 5px 10px;
      border: 1px solid $brown;
    }
  }
}