#checkout {
  .row[data-hook="checkout_header"] {
    border-bottom: 1px solid $brown;
  }

  h1 {
    padding-top: 9px;
  }

  h6 {
    font-size: 20px;
  }

  table {

    tfoot#order-total tr {
      border-bottom: 1px solid $brown;
      border-top: 0px solid $brown;
    }

    tbody, tfoot {
      color: black;

      tr {
        border-bottom: 0px solid $beige;
      }


      td, td.total span {
        color: black;
      }
    }

    tbody {
      border-bottom: 1px solid $brown;
      border-top: 1px solid $brown;
    }

    thead {
      background-color: transparent;

    }

    th {
      text-transform: none;
      text-align: left;
    }

    th.total, td.total {
      width: 33%;

      span {
        float: right;
      }
    }
  }

}


ol.progress-steps{

  list-style-type: none;

  li {
    color: $grey;
    text-transform: none;
    padding-right: 0px;
    margin-right: 0px;
    padding-top: 20px;

    &.current, &.current-first {
      background-color: inherit;
      color: inherit;

      span {
        text-decoration: underline;
      }
    }

    &.current-first {
      background-image: none;
    }

    &.completed, &.completed-first, &.completed-last {
      background-color: transparent;
      color: $brown;

      &:hover {
        background-color: transparent;
        color: $brown;

        a:hover, a:visited {
          color: $brown !important;
          background-color: transparent;
        }
      }

      a {
        color: $brown;

      }

      span{
        &:after {
          content: "\2713";
          position: relative;
          bottom: 20px;
          right: 30%;
          color: $pink;
          font-size: 20px;
        }
      }
    }

    &:after {
      content: "\2192";
      color: $pink;
      margin-left: 15px;
      font-weight: bold;
    }

    &.last:after, &.next-last:after, &.completed-last:after {
      content: "";
    }
  }
}

#checkout_form_address, #checkout_form_delivery, #checkout_form_payment, #order_summary, #checkout_form_confirm, #cart-form {

  input.radio {
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid $brown;
    padding: 5px;
    border-radius: 50px;
    display: inline-block;
    position: relative;
    background-color: white;


    &:checked {
      background-color: white;
      color: $pink;
      border: 1px solid $brown;

      &:after {
        content: ' ';
        width: 6px;
        height: 6px;
        border-radius: 50px;
        position: absolute;
        top: 2px;
        background: $pink;
        text-shadow: 0px;
        left: 2px;
        font-size: 32px;
      }
    }
  }

  legend {
    text-transform: none;
    color: $brown;
    font-size: $base_font_size;
    text-align: left;
    margin-left: 0px;
  }

  fieldset {
    border: 0px;
  }

  p.field {
    padding: 0px;

    &[data-hook="card_expiration"] {
      select {
        width: auto;
      }

    }

    &[data-hook="use_billing"] {
      margin-top: -10px;
      margin-bottom: -10px;
      float: none;
    }

    select {
      width: 185px;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      border-radius: 0px;
      padding: 5px 10px;
      border: 1px solid $brown;
    }

  }
}
#checkout-summary {
  h3 {
    font-family: $ff_base;
    font-weight: bold;
    font-size: $base_font_size;
    text-transform: none;
    border-bottom: 0px;
  }
  table  {
    td {
      color: $brown;
    }
    tr[data-hook="item_total"] td:last-child strong, #summary-order-total {
      color: $brown;
      font-weight: normal;
      font-size: $base_font_size;
    }
  }
}