footer#footer {
  color: #DBCBA2;
  background-image: url('footer.jpg');
  background-position: center center;
  width: 100%;

  @include box-shadow(0 0 30px $shadow);

  position: relative;
  z-index: 1;
  padding: 0px;
  border: 0px;

  a, a:hover, &:visited {
    color: #DBCBA2;
    text-decoration: underline;
  }

}

/* Hide Pinterest iframe */
iframe[class*='PIN_'], iframe[class^='PIN_'] { display: none !important; }