footer#footer {
  color: #DBCBA2;
  background-image: url('footer.jpg');
  background-repeat: repeat-x;
  background-position: center center;

  position: fixed;
  bottom: 0px;
  width: 100%;

  a, a:hover, &:visited {
    color: #DBCBA2;
  }
}
