footer#footer {
  color: #DBCBA2;
  background-image: url('footer.jpg');
  background-repeat: repeat-x;
  background-position: center center;
  width: 100%;

  @include box-shadow(0 0 20px $shadow);

  position: relative;
  z-index: 1;

  a, a:hover, &:visited {
    color: #DBCBA2;
  }
}
