header {
  @include box-shadow(0 0 30px $shadow);
  position: relative;
  z-index: 1000;
  background: $beige url('header_back.jpg') top center;

  &#header {
    margin: 0;
  }

  .container {
    padding: 10px;
  }

}
ul#main-nav-bar {
  text-transform: none;
  border: 0px;
  text-align: center;

  li a, li#link-to-cart a{
    font-weight: normal;
    font-size: 13px;
    color: $grey;

    span.amount {
      border-color: $grey;
      font-weight: normal;
      font-size: 13px;
    }
  }

}

figure#logo {

  img {
    width: 300px;
  }
}
