
html {
}

body {
  background: $beige url('texture_white.jpg') top left;
  font-family: 'Yanone Kaffeesatz';

}

#wrapper {

  position: relative;
  z-index: 100;
  margin-bottom: 0px;
  .container {
    background: $beige;
    border: solid;
    border-color: $brown;
    border-width: 0px 3px 0px 3px;
    -moz-border-image: url(border.png) 3 3 3 3 repeat;
    -webkit-border-image: url(border.png) 3 3 3 3 repeat;
    -o-border-image: url(border.png) 3 3 3 3 repeat;
    border-image: url(border.png) 3 3 3 3 fill repeat;
    @include box-shadow(0 0 30px $shadow);

  }
}

#main_nav_container.container {
  z-index: 101;
  background: $beige;
  border: solid;
  border-color: $brown;
  border-width: 0px 3px 0px 3px;
  -moz-border-image: url(border.png) 3 3 3 3 repeat;
  -webkit-border-image: url(border.png) 3 3 3 3 repeat;
  -o-border-image: url(border.png) 3 3 3 3 repeat;
  border-image: url(border.png) 3 3 3 3 fill repeat;
  @include box-shadow(0 0 30px $shadow);
  padding: 0px 0px 10px;
}