#page {
  p {
    line-height: 1.5em;
    font-size: 1.1em;
  }

  img {
    width: 100%;
    margin: 10px 0 0;
  }

  figcaption{
    font-size: 80%;
    font-style: italic;
  }

  a {
    color: $pink;
  }
}
