ul#products {
  list-style-type: none;

  li {
    border-bottom: 1px solid $brown;
    border-width: 0px 0px 3px 0px;
    -moz-border-image: url(border.png) 0 0 3 0 repeat;
    -webkit-border-image: url(border.png) 0 0 3 0 repeat;
    -o-border-image: url(border.png) 0 0 3 0 repeat;
    border-image: url(border.png) 0 0 3 0 fill repeat;

    padding-bottom: 10px;
    margin-bottom: 15px;

    &.facebook {
      border-width: 0px;
      padding-bottom: 0px;
      margin-top: 10px;
      margin-bottom: 0px;
    }
  }

  .product {

    img {
      width: 100%;

      &.divider {
        text-align: center;
        width: 80%;
      }
    }

    a.info {
      color: $brown;
      text-align: left;
      border-bottom: 0px solid $brown;
      height: auto;
      font-family: $ff_base;
      font-size: 22px;
    }

    p.description {
      text-align: left;
      padding: 0;
      color: $black;
      font-weight: normal;
      font-size: 12px;
      height: 8em;
    }
  }

  div.product-image {
    padding: 0px;
    border: 0px solid $grey;

    a:hover {
      opacity: 0.9;
    }
  }
}

h1.product-title{
  font-size:40px;
  font-weight:500;
}


#product-description {
  text-align: left;
  padding: 0;
  color: black;
  font-weight: normal;
  font-size: 12px;
  height: auto;
}


#product-images div#main-image {
  border: 0px solid black;

  img {
    float: left;
    margin-bottom: 10px;
  }
}

span.props {
  border-right: 1px solid $brown;
  padding: 0px 5px;
  font-size: 13px;
  font-weight: normal;
  margin-bottom: 0px;
  float: left;

  &.last {
    border-right: 0px solid $brown;
  }
}
