ul#products {
  list-style-type: none;

  .product {
    margin-left: 10px;
    margin-right: 10px;

    img.divider {
      text-align: center;
      width: 80%;
    }
  }

  .product-image {
    a {
      @extend .thumbnail;
      background-color: white;

      img {
        width: 260px;
      }
    }
  }
}
