#reviews {

  div.review {
    border-bottom: 0px;
  }

  h6.product-section-title {
    float: left;
    line-height: 36px;
    margin-right: 5px;
  }


  .reviews-none {
    line-height: 16px;
  }

  .reviewBody {
    height: 70px;

    p {
      margin: 0;
      padding: 10px 0;
      color: $black;
      font-size: 85%;
    }
  }
}

