h6.product-section-title {
  text-transform: none;
}

#reviews {

  div.review {
    border-bottom: 0px;

    &.alpha {
      clear: both;
    }

    span {
      font-size: $base_font_size;
      &.attribution {
        font-size: $base_font_size;
        strong {
          font-weight: normal;
        }

      }
    }
  }

  h6.product-section-title {
    float: left;
    margin-right: 5px;
    text-transform: none;
  }

  .itemName {
    font-weight: bold;
    font-family: $ff_base;
    font-size: $base_font_size;
    line-height: 20px;
  }

  .datePublished {
    font-weight: normal;
  }

  .reviews-none {
    line-height: 16px;
  }

  .reviewBody {

    p {
      margin: 0;
      padding: 10px 0;
      color: $black;
      font-size: 85%;
    }
  }

  .ratings {
    line-height: 45px;
  }
}

