aside#sidebar {
  font-family: $ff_regular;
  font-size: 13px;

  #sidebar_wrapper {
    background: $greyblue url('sidebar-texture.jpg') top left;
    border: solid;
    border-color: $grey;
    border-width: 3px 3px 3px 3px;
    -moz-border-image: url(sidebar-border.png) 3 3 3 3 repeat;
    -webkit-border-image: url(sidebar-border.png) 3 3 3 3 repeat;
    -o-border-image: url(sidebar-border.png) 3 3 3 3 repeat;
    border-image: url(sidebar-border.png) 3 3 3 3 repeat;

  }

  form#search_form {

    background-image: url(staples.png);
    background-repeat: no-repeat;
    padding-bottom: 35px;
    margin: 10px 10px 10px;
    font-family: $ff_regular;
    font-size: 13px;
    height: 22px;

    input#keywords {
      font-family: $ff_regular;
      font-size: 13px;
      width: 155px;
      height: 22px;
      margin: 25px 0px 10px;
      border: solid;
      border-color: $brown;
      border-width: 3px 3px 3px 3px;
      -moz-border-image: url(search-border.png) 3 3 3 3 repeat;
      -webkit-border-image: url(search-border.png) 3 3 3 3 repeat;
      -o-border-image: url(search-border.png) 3 3 3 3 repeat;
      border-image: url(search-border.png) 3 3 3 3 fill repeat;
      padding: 7px 15px 7px;
      background: white url(search-btn-lupe.png) 97% center no-repeat;

      @media only screen {
        @media (min-width: 768px) and (max-width: 979px) {
          width: 110px;
        }

        @media (max-width: 767px) {
          width: 355px;
        }

        @media (max-width: 480px) {
          width: 235px;
        }

      }

    }
  }

  div[data-hook="homepage_sidebar_navigation"], div[data-hook="taxon_sidebar_navigation"] {
    padding: 10px;
  }
}

#sidebar_products_search {
  h6.filter-title {
    font-size: 120%;
    font-family: $ff_base;
    font-weight: 500;

    border: solid;
    border-color: $brown;
    -moz-border-image: url(border.png) 0 0 3 0 repeat;
    -webkit-border-image: url(border.png) 0 0 3 0 repeat;
    -o-border-image: url(border.png) 0 0 3 0 repeat;
    border-image: url(border.png) 0 0 3 0 fill repeat;
    color: $brown;
  }
}

nav#taxonomies {

  font-size: 13px;

  h6.taxonomy-root {
    font-size: 140%;
    text-transform: none;
    font-family: $ff_base;
    font-weight:normal;
    padding-top: 12px;
    margin-bottom: 0px;
    border: solid;
    border-color: $brown;
    -moz-border-image: url(border.png) 0 0 3 0 repeat;
    -webkit-border-image: url(border.png) 3 0 0 0 repeat;
    -o-border-image: url(border.png) 0 0 3 0 repeat;
    border-image: url(border.png) 3 0 0 0 fill repeat;


  }

  .taxons-list li a {
    font-size: 13px;
  }

  a {
    color: $brown;
    text-decoration: none;
  }
}