#social_nav {
  padding-top: 0px;
  height: auto;
  width: 300px;

  ul {
    margin-top: 0px;
  }

  li {
    padding-top: 0px;
  }
}

div.p {
  padding-bottom: 10px;

  .left {
    line-height: 28px;
    font-size: 14px;

    b {
      font-weight: bold;
    }

    span {
      font-weight: normal;
    }
  }
}