ul#product-thumbnails {
  margin-top: 0;
  li {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: 0px;
    margin-bottom: 10px;

    img {
      width: 100px;
      padding: 0;
    }
  }
}
