<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody">
  <tr>
    <td valign="top" class="bodyContent">
      <div class="intro-section"  style="padding:0px; #cccccc; padding-bottom:20px; background-image:url('http://gallery.mailchimp.com/acf7def2835785a77a887ff5d/images/tile_paper_texture_white.jpg');" >
        <img align="left" alt="" border="0" height="280" width="600" src="http://gallery.mailchimp.com/acf7def2835785a77a887ff5d/images/rennschwein.png" style="max-width:600px;margin-bottom:10px;margin-top:10px;" >
        <h1 class="headline_variation_2" style="padding-left:20px;padding-bottom:0;margin-bottom:5px;margin-top:5px;" >Deine Wurst ist auf dem Weg zu Dir!</h1>
        <div style="padding-left:20px;padding-right:20px;">
          <p>Hier ist der Link zur Sendungsverfolgung Deiner Bestellung <%=@shipment.order.number%>: <a href='<%= "http://nolp.dhl.de/nextt-online-public/set_identcodes.do?lang=de&idc=#{@shipment.tracking}"%>'><%= @shipment.tracking %></a></p>
          <p>Falls der Link noch nicht aktiv ist, bitte ein bisschen gedulden.</p>
          <p>
            BewuRste Mahlzeit wünschen wir!
          </p>
          <p>
            Dennis und die anderen Schweine von MeinekleineFarm.org
          </p>
        </div>
      </div>
    </td>
  </tr>
</table>
