<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Deine Bestellung bei Meine kleine Farm</title>
    <style type="text/css">
      body{
      width:100%;
      }
      body{
      -webkit-text-size-adjust:none;
      }
      body{
      margin:0;
      padding:0;
      }
      img{
      border:0;
      height:auto;
      line-height:100%;
      outline:none;
      text-decoration:none;
      }
      table td{
      border-collapse:collapse;
      }
      #backgroundTable{
      height:100% !important;
      margin:0;
      padding:0;
      width:100%;
      }
      body,#backgroundTable{
      background-color:#f7a193;
      }
      #templateContainer{
      border:1px solid #452500;
      }
      h1{
      display:block;
      font-family:'Trebuchet MS';
      font-weight:bold;
      margin-top:20px;
      margin-right:0;
      margin-bottom:20px;
      margin-left:0;
      display:inline-block;
      text-align:left;
      line-height:26px;
      font-size:30px;
      color:#452500;
      line-height:40px;
      }
      h2{
      color:#ff8c00;
      display:block;
      font-family:'Trebuchet MS';;
      font-size:22px;
      font-weight:bold;
      line-height:24px;
      margin-top:20px;
      margin-right:0;
      margin-bottom:0;
      margin-left:0;
      text-align:left;
      text-transform: uppercase;
      padding: 0px 6px;
      background-color:#452500;
      color: white;
      display: inline-block;
      margin-left: 0px;
      font-size: 14px;
      }
      #templatePreheader{
      background-color:#FAFAFA;
      }
      .preheaderContent div{
      color:#505050;
      font-family: Tahoma, Arial, sanserif;
      font-size:14px;
      text-align:left;
      }
      .preheaderContent div a:link,.preheaderContent div a:visited,.preheaderContent div a .yshortcuts {
      color:#336699;
      font-weight:normal;
      text-decoration:underline;
      }
      #templateHeader{
      background-color:#FFFFFF;
      border-bottom:0;
      }
      .headerContent{
      color:#202020;
      font-family: Tahoma, Arial, sanserif;
      font-size:20px;
      font-weight:bold;
      padding:0;
      text-align:center;
      vertical-align:middle;
      line-height: 16px;
      }
      .headerContent a:link,.headerContent a:visited,.headerContent a .yshortcuts {
      color:#336699;
      font-weight:normal;
      text-decoration:underline;
      }
      #headerImage{
      height:auto;
      max-width:600px !important;
      }
      #templateContainer,.bodyContent{
      background-color:#FFFFFF;
      }
      .bodyContent div{
      color:#452500;
      font-family: Tahoma, Arial, sanserif;
      font-size:16px;
      line-height:150%;
      text-align:left;
      }
      .bodyContent img{
      display:inline;
      height:auto;
      }
      #social_icons a img{
      padding:4px;
      }
      #templateFooter{
      background-color:#FFFFFF;
      border-top:0;
      }
      .footerContent div{
      color:#452500;
      font-family: Tahoma, Arial, sanserif;
      font-size:14px;
      line-height:125%;
      text-align:left;
      }
      .footerContent div a:link,.footerContent div a:visited,.footerContent div a .yshortcuts {
      color:#336699;
      font-weight:normal;
      text-decoration:underline;
      }
      .footerContent img{
      display:inline;
      }
      #social{
      background-color:#FAFAFA;
      border:0;
      }
      #social div{
      text-align:center;
      }
      .footerContent div a:link,.footerContent div a:visited,.footerContent div a .yshortcuts{
      color:#fa7193;
      text-decoration:none;
      }
      .preheaderContent div a:link,.preheaderContent div a:visited,.preheaderContent div a .yshortcuts{
      color:#fa7193;
      text-decoration:none;
      }
    </style>
  </head>
  <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
    <center>
      <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable">
        <tr>
          <td align="center" valign="top">
            <!-- // Begin Template Preheader \\ -->
            <table border="0" cellpadding="0" cellspacing="0" width="600" id="templatePreheader">
              <tr>
                <td valign="top" class="preheaderContent">
                  <div style="text-align:center;margin:0;padding:10px 0;background-color:#f7a193;">&nbsp;</div>
                </td>
              </tr>
            </table>
            <!-- // End Template Preheader \\ -->
            <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer">
              <tr>
                <td align="center" valign="top">
                  <!-- // Begin Template Header \\ -->
                  <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader">
                    <tr>
                      <td class="headerContent">
                        <!-- // Begin Module: Standard Header Image \\ -->
                        <a href="http://www.meinekleinefarm.org">
                        <img src="http://gallery.mailchimp.com/acf7def2835785a77a887ff5d/images/mkf_nl_header.jpg" style="max-width:600px;" id="headerImage campaign-icon" >
                        </a>
                        <!-- // End Module: Standard Header Image \\ -->
                      </td>
                    </tr>
                  </table>
                  <!-- // End Template Header \\ -->
                </td>
              </tr>
              <tr>
                <td align="center" valign="top">
                  <!-- // Begin Template Body \\ -->
                  <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody">
                    <tr>
                      <td valign="top" class="bodyContent">
                        <div class="intro-section"  style="padding:0px; #cccccc; padding-bottom:20px; background-image:url('http://gallery.mailchimp.com/acf7def2835785a77a887ff5d/images/tile_paper_texture_white.jpg');" >
                          <img align="left" alt="" border="0" height="280" width="600" src="http://gallery.mailchimp.com/acf7def2835785a77a887ff5d/images/rennschwein.png" style="max-width:600px;margin-bottom:10px;margin-top:10px;" >
                          <h1 class="headline_variation_2" style="padding-left:20px;padding-bottom:0;margin-bottom:5px;margin-top:5px;" >Deine Wurst ist auf dem Weg zu Dir!</h1>
                          <div style="padding-left:20px;padding-right:20px;">
                            <p>Hier ist der Link zur Sendungsverfolgung Deiner Bestellung <%=@shipment.order.number%>: <a href='<%= "http://nolp.dhl.de/nextt-online-public/set_identcodes.do?lang=de&idc=#{@shipment.tracking}"%>'><%= @shipment.tracking %></a></p>
                            <p>Falls der Link noch nicht aktiv ist, bitte ein bisschen gedulden.</p>
                            <p>
                              BewuRste Mahlzeit wünschen wir!
                            </p>
                            <p>
                              Dennis und die anderen Schweine von MeinekleineFarm.org
                            </p>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </table>
                  <!-- // End Template Body \\ -->
                </td>
              </tr>
              <tr>
                <td align="center" valign="top">
                  <!-- // Begin Template Footer \\ -->
                  <table border="0" cellpadding="00" cellspacing="0" width="600" id="templateFooter">
                    <tr style="background-color:#452500;">
                      <td valign="top" class="footerContent">
                        <div id="social_icons" style="text-align:center;padding-bottom:6px; padding-top:10px;">
                          <a href="http://www.facebook.com/meinekleinefarm"><img alt="F" border="0" height="30px" width="30px" style="width: 30px; height: 30px;" src="http://gallery.mailchimp.com/acf7def2835785a77a887ff5d/images/icon_facebook.png"></a>
                          <a href="http://twitter.com/meatonamission"><img alt="T" border="0" height="30px" width="30px" style="width: 30px; height: 30px;" src="http://gallery.mailchimp.com/acf7def2835785a77a887ff5d/images/icon_twitter.png" ></a>
                          <a href="http://www.pinterest.com/meinekleinefarm"><img alt="P" border="0" height="30px" width="30px" style="width: 30px; height: 30px;" src="http://gallery.mailchimp.com/acf7def2835785a77a887ff5d/images/icon_pinterest.png" ></a>
                        </div>
                      </td>
                    </tr>
                  </table>
                  <!-- // End Template Footer \\ -->
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </center>
  </body>
</html>