.nav.center
  %ul
    %li
      %span="&copy; Meine kleine Farm #{Date.today.year}".html_safe
    - Spree::Page.limit(6).each do |page|
      - if page.has_context?('footer')
        %li= link_to page.nav_title, page.path, :title => page.meta_description
