<footer id="footer" class="" data-hook>
  <div class="container">
    <div class="row">
      <div id="footer-left" class="span16" data-hook>
        <p>
          <span>&copy; Meine kleine Farm 2012</span>
          <span>Impressum</span>
          <span>Kontakt</span>
          <span>AGB</span>
          <span>Datenschutz</span>
        </p>
      </div>
      <div id="footer-right" class="span8" data-hook></div>
    </div>
  </div>
</footer>
