<header id="header" data-hook>
  <div class="container">
    <div class="row">
      <figure id="logo" class="columns alpha six" data-hook><%= logo %></figure>
      <%= render :partial => 'spree/shared/nav_bar' %>
    </div>
  </div>
</header>
<%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
