<nav id="top-nav-bar" class="columns omega ten">
  <div class="navbar-inner">
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
    <a class="brand" href="/">
      <%= image_tag 'store/header-logo.png' %>
    </a>
    <div class="nav-collapse">
      <ul id="nav-bar" class="inline" data-hook>
        <li id="search-bar" data-hook></li>
      </ul>
      <div id="social" class="pull-right">
        <a href="http://www.facebook.com/meinekleinefarm" class="icon icon-facebook" target="_blank">Facebook</a>
        <a href="http://twitter.com/#!/meatonamission"    class="icon icon-twitter" target="_blank">Twitter</a>
        <a href="http://pinterest.com/meinekleinefarm" class="icon icon-pinterest" target="_blank">Pinterest</a>
        <a href="/kontakt" class="icon icon-mail">Mail</a>
      </div>
    </div>
  </div>
</nav>
