<!-- PayPal Logo -->
<li id="link-to-paypal">
  <a href="https://www.paypal.com/de/webapps/mpp/paypal-popup" title="So funktioniert PayPal" onclick="javascript:window.open('https://www.paypal.com/de/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=715, height=539); return false;">
    <img src="https://www.paypalobjects.com/webstatic/de_DE/i/de-pp-logo-100px.png" border="0" alt="PayPal Logo" />
  </a>
</li>
<li id="link-to-triodos" title="Mit meinem Geld beweg ich was.">
  <%= image_tag 'store/triodos-bank-logo.png', alt: "Triodos Bank Logo"%>
</li>
<!-- PayPal Logo -->